div
{
	width: 1520px;
	text-align: center;
	font-size: 25px;
}
.a
{
	padding: 15px;
}
.b
{
	padding: 4px;
}
.c
{
	padding: 15px;
}
.d
{
	padding: 15px;
}
.e
{
	padding: 15px;
}